<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>僵尸企业画像</title>
    <style>
        p{text-indent: 2em;font: 20px 微软雅黑; text-align: justify}
    </style>
</head>
<body>
    <div>
        <img id="bg" src="{{ url_for('static', filename='img/project/jiangshiqiye.jpg') }}">
        <h1>僵尸企业画像项目</h1>
        <h2>1.项目概要介绍</h2>
        <p>僵尸企业是指缺乏盈利能力却能够以低于市场最优利率成本获得信贷资源，依靠外界输血而缺乏自生能力的企业。在获得这些僵尸企业
        数据后，我们团队在前期对这些数据进行分析，寻找出对判断结果影响因子较大的标签并分类，中期我们团队决定采用SVM支持向量机
        分类算法，这是一个有监督的学习模型，通常用来进行模式识别、分类以及回归分析，确定使用的算法后我们先对数据进行预处理。
        后期我们使用SVM算法对所给定的数据进行训练模型，判别僵尸企业的正确率一般，而后通过不断优化，最终得到正确率较高的
        模型 </p>
        <h2>2.项目背景</h2>
        <p>僵尸企业是指丧失自我发展能力，必须依赖非市场因素即政府补贴或银行续贷来维持生存的企业。尽管这些企业不产生效益，却依然占有土地、资本、劳动力等要素资源，严重妨碍了新技术、新产业等新动能的成长。僵尸企业不同于因问题资产陷入困境的问题企业，能很快起死回生，僵尸企业的特点是“吸血”的长期性、依赖性，而放弃对僵尸企业的救助，社会局面可能更糟，因此具有绑架勒索性的特征，还有企业规模庞大，行业产能过剩，产业领域低端等特征。
        工信部副部长冯飞2016年2月25日说，所谓“僵尸企业”，是指已停产、半停产、连年亏损、资不抵债，主要靠政府补贴和银行续贷维持经营的企业僵尸企业如果不能够及时处置，经济动能转换以及高质量发展就无法保障，去杠杆工作的受阻将加大系统性金融风险。鉴于僵尸企业的危害性，所以发展改革委和工信部联合制定处置“僵尸企业”的实施方案，总的思路是：按照企业主体、政府推动、市场引导、依法处置的原则，更加注重运用市场机制、经济手段、法治办法，通过兼并重组、债务重组乃至破产清算，积极稳妥推动“僵尸企业”退出。
        僵尸企业的识别标准主要有官方标准、CHK 标准，FN-CHK 标准以及各类FN-CHK 修正标准等，通过各类标准分类识别僵尸企业均有其局限性，尤其是标准的制定有其主观
        性，因此基于企业画像分类识别方法成为首选</p>
        <h2>3.项目目的</h2>
        <p>通过僵尸企业画像及分类，能够较为准确的辨别出企业是否为僵尸企业，帮助政府了解并且积极稳妥推动“僵尸企业”退出。</p>
    </div>
</body>
</html>